
  
  .app-bar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFC604;
    color:rgb(8, 8, 8);
    padding: 15px 30px;
    box-shadow: 0 4px 6px #FAD52F;
    height:25px;
  }
  .logo {
    width: 50px; /* Adjust size as needed */
    height: 55px;
    margin-right: 10px;
  }
  .nav h2 {
    margin: 0;
    color:rgb(33, 31, 31);
  }
  
  .nav a {
    margin: 0 15px;
    text-decoration: none;
    color: rgb(33, 31, 31);
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .nav a:hover {
    color: rgb(33, 31, 31);
  }
  
  .search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
  }
  
  .search input {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
  }
  
  .search button {
    background-color: #004d4a;
    color: white;
    border: none;
    height:33px;
    width:33px;
    /* padding: 10px 12px; Adjusted padding */
    border-radius: 0 0px 0px 0; /*Adjusted border-radius */
    cursor: pointer;
    font-size: 0.9em; /* Adjusted font size */
    transition: background-color 0.3s;
    margin-left: -4px; /* Ensure the button is right next to the input */
  }
  
  .search button:hover {
    background-color: #003d3a;
  }
  
  .auth {
    display: flex;
    align-items: center;
  }
  
  .auth a {
    margin-left: 15px;
    text-decoration: none;
    color: rgb(33, 31, 31);
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .auth a:hover {
    color: #003d3a;
  }
  
  .auth .register {
    background-color: #004d4a;
    color: rgb(33, 31, 31);
    padding: 8px 15px;
    border-radius: 5px;
    margin-left: 15px;
    transition: background-color 0.3s;
  }
  
  .auth .register:hover {
    background-color: #003d3a;
  }
  
  @media (max-width: 768px) {
    .app-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .search {
      width: 100%;
      margin: 10px 0;
    }
  
    .search input {
      width: 100%;
    }
  
    .auth {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .auth a {
      margin: 5px 0;
    }
  
    .auth .register {
      margin-left: 0;
      margin-top: 10px;
    }
  }